<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiscogsClient" version="2.7.1" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.1.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.7.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="RateLimiter" version="1.1.1" targetFramework="net472" />
  <package id="RestSharp" version="106.3.0" targetFramework="net472" />
  <package id="RestSharpHelper" version="1.1.1" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
</packages>